.ibtn9{
    margin-left: 60px;
    margin-top: 20px;
 
}

/* .bkng{
    text-align: center;
    margin-top: 50px;
} */

.iimg{
    height: 280px;
    width: 480px;
    margin-left: 400px;
    margin-top: -220px;
}

.havvy{
    background-color: rgb(128, 9, 98);
    margin-top: 0px;
    height: 400px;
 
}

.dtls{
    margin-top: 10px;
    padding-top: 30px;
}