.Resp2{
    color: rgb(39, 206, 39);
    margin-top: 60px;
}
.Resp3{
    margin-left: 450px;
    margin-top: 60px;
    color: rgb(77, 197, 30);
}
.Resp1{
    margin-left: 450px;
    margin-top: 60px;
    color: rgb(240, 121, 65);
}